.Racers {
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

@media (max-width: 500px){
  .Racers {
    width: 90%;
    margin: 0 auto;
    list-style: none;
  }

  .Racers h1 {
    font-size: 1.2em;
  }
}