.Menu {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: left;
  height: 20%;
}

@media (min-width: 500px) {
  .Menu {
    flex-flow: row;
  }
}