.SeasonItem {
  height: 40px;
  margin: 10px auto;
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: column;
  padding: 10px;
  border-top-left-radius: 30px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
  background-color: red;
  width: 80%; 
  transform: skewX(-35deg);
}

.SeasonItem li {
  margin: auto 0;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.4rem;
}

.SeasonItem:hover,
.SeasonItem:active {
  background-color: darkred;
  cursor: pointer;
}
