.MenuItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.MenuItem a {
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.MenuItem a:hover,
.MenuItem a:active {
  color: red;
}

@media (min-width: 500px) {
  .MenuItem {
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
  }
  
  .MenuItem a {
    height: 100%;
    padding: 30px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .MenuItem a:hover,
  .MenuItem a:active {
    border-bottom: 4px solid #c0c0c0;
    background-color: rgba(0,0,0,.1);
  }
}